#sectorTable th {
    font-weight: 700;
    border-bottom: 4px solid black;
    padding-right: 20px;
}

#sectorTable td {
    margin-right: 20px;
    border-bottom: 1px dashed black;
    border-right: 1px solid black;
    text-align: center;
}


/*Search bar */

button[type='submit']{
    background: #0A2E36 ;
    color: #14CC60;
}


#search{
    display: inline-flex;
    justify-content: right;
}

.header{
    display: flex;
    justify-content: center;
}