#sectorTable th {
    font-weight: 700;
    border-bottom: 4px solid black;
    padding-right: 20px;
}

#sectorTable td {
    margin-right: 20px;
    border-bottom: 1px dashed black;
    border-right: 1px solid black;
    text-align: center;
}

.stockSelection {
    background-color: black;
}

/* Styles for custom dropdown list */
#res {
    margin-left: 100px;
    padding-left: 0px;
    width: 60%;
}

#res li {
    list-style-type: none;
}

#res p {
    background: black;
    margin-top: -15px;
}

#res p:hover {
    background: rgb(42, 31, 159);
    color: #FFF;
    cursor: pointer;
}

#stockSymbol {
    margin-bottom: 18px;
}

.stockSymbol {
    color: white;
    font-size: 18px;
}

.stockName {
    color: grey;
    font-size: 16px;
}

.stockSector {
    color: yellow;
    font-size: 14px;
}


/*Search bar */
button[type='submit']{
    background: #0A2E36 ;
    color: #14CC60;
}


#search{
    display: inline-flex;
    justify-content: right;
}

/*For 'stock muncher' in header */
.header{
    display: flex;
    justify-content: center;
    color: #27FB6B;
    font-family: 'Cute Font', cursive;
    font-size: 15vw;
}

/*For 'eat the competition' in header */
.header2{
    display: flex;
    justify-content: center;
    color: #27FB6B;
    font-family: 'Cute Font', cursive;
    font-size: 15vw;
    margin-top: -5rem;
}

/*Sets color of navbar*/
.navbar{
    background: #0A2E36;
}

body {
    background-color: #0A2E36;
    color: white;
}

.cuteFont {
    color: #27FB6B;
    font-family: 'Cute Font', cursive;
    font-size: 27px;

}


.introMunch{
    fill: #036D19;
}


/*Makes Graphs Responsive*/
@media screen and (width: 1080px) {
    div#chart_div {
        zoom: 1.5;

    }
}

#res {
    margin: 0px;
    padding-left: 0px;
    width: 150px;
}

#res li {
    list-style-type: none;
}

#res li:hover {
    background: #110D3B;
    color: #FFF;
    cursor: pointer;
}

