<!-- This file to be inserted anywhere these is a search bar for stocks -->
<div class="modal fade" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle">Stock Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <div class="stockSymbol">
                    <b></b><input list="stockSymbolList" id="stockSymbol" type="text" placeholder="Stock Symbol" autocomplete="off"><button class="btn btn-secondary" id="stockPriceUpdate">Refresh Stock Price</button>
                </div>
            </div>
        </div>
    </div>
</div>
