
<div class="container-fluid">
    <img class="introMunch" src="images/scaryPac.svg"/>
    <h1 class='header'>Stock Muncher</h1>
    <h6 class="header2"> Eat the Competition</h6>

    <div class="container">
<<<<<<< HEAD
              <a href="/signup"> <button type="button" class="btn btn-lg btn-block mainBut" action='../'>Sign Up If You Want A Scoop Of Awesome In Your Sad Sad Life</button></a><br>
        <a href="/login"><button type="button" class="btn btn-lg btn-block mainBut">Login For More Awesome Shit</button></a>
=======
        <button type="button" class="btn btn-lg btn-block mainBut">Sign Up If You Want A Scoop Of Awesome In Your Sad Sad Life</button>
        <button type="button" class="btn btn-lg btn-block mainBut">Login For More Awesome Shit</button>
>>>>>>> 410811f5d9705aa18ede2cdae35cd7d7fa45de6e
    </div>
</div>