
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title><%= pageTitle %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- ### Chart.js ###-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<!-- ### Bootstrap ###-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--jQuery-csv: to process csv files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>


<link rel="stylesheet" href="public/css/style.css" type="text/css" >