
<div class="container-fluid">
    <img class="introMunch" src="images/scaryPac.svg"/>
    <h1 class='header'>Stock Muncher</h1>
    <h6 class="header2"> Eat the Competition</h6>

    <div class="container">
        <a href="/signup"> <button type="button" class="btn btn-lg btn-block mainBut">Sign Up If You Want A Scoop Of Awesome</button></a><br>
<<<<<<< HEAD
        <a href="/login"><button type="button" class="btn btn-lg btn-block mainBut">Login For More Awesome Stuff</button></a>
=======
        <a href="/login"><button type="button" class="btn btn-lg btn-block mainBut">Login For More Awesome Shit</button></a>
>>>>>>> 690030f0b7e2f96e9d753d1a41355ca1626fdec1
       
    </div>
</div>
