
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title><%= pageTitle %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- ### Bootstrap ###-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- ### Font-Awesome ###-->
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

<!-- ### jQuery for bootstrap ###-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!--Google Charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!-- Our CSS stylesheet -->
<link rel="stylesheet" href="css/style.css" type="text/css">

<!--Google Font: Cute Font-->
<link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">

<!-- ### Script for graphs: Must be in <head> ###-->
<script type="text/javascript" src="scripts/graph.js"></script>