
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title><%= pageTitle %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- ### Chart.js ###-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

<!-- ### Bootstrap ###-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- ### Font-Awesome ###-->
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

<!-- Our CSS stylesheet -->
<link rel="stylesheet" href="css/style.css" type="text/css">