
<div class="container-fluid">
    <img class="introMunch" src="images/scaryPac.svg"/>
    <h1 class='header'>Stock Muncher</h1>
    <h6 class="header2"> Eat the Competition</h6>

    <div class="container">
              <a href="/signup"> <button type="button" class="btn btn-lg btn-block mainBut" action='../'>Sign Up If You Want A Scoop Of Awesome In Your Sad Sad Life</button></a><br>
        <a href="/login"><button type="button" class="btn btn-lg btn-block mainBut">Login For More Awesome Shit</button></a>
    </div>
</div>