
<!--Template for the navbar ==> It should be relatively the same throughout => although it should change when the user signs in-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!--Logo goes here-->
    <a class="navbar-brand" href="#">Logo</a>

    <!--Search Bar -->
    <form id="search" class="form-inline">

        <!--The idea here is have the user  -->
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
        <button type="submit"><i class="">Submit</i></button>
    </form>
</nav>