<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Head.ejs goes here-->
        <% include partials/template/head.ejs %>

    </head>

    <body>

        <!--### Header goes here ###-->
        <div id="header">
         <% include partials/template/header.ejs %>
        </div>

        <!-- CONTENT GOES HERE -->
        <div id="content">

        </div>

        <!--Footer goes here-->
        <div id="footer">

            <% include partials/template/footer.ejs %>
        </div>
    </body>

    <!-- end.ejs goes here -->
    <% include partials/template/end.ejs %>

</html>