<!DOCTYPE html>
<html lang="en">
    <head>

        <% include partials/template/head.ejs %>

    </head>

    <body>

        <!--### Header goes here ###-->
        <div id="header">
         <% include partials/template/header.ejs %>
        </div>

        <div id="content">
            <!-- CONTENT GOES HERE -->
        </div>


    </body>

    <!-- end.ejs goes here -->
    <% include partials/template/end.ejs %>

</html>