<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Head.ejs goes here-->
        <% include partials/template/head.ejs %>

    </head>

    <body>
        <!--Navbar goes here-->
        <% include partials/template/navBar.ejs %>

        <!--### Header goes here ###-->
        <div id="header" class="container-fluid">
            <% include partials/template/header.ejs %>
        </div>

        <!-- CONTENT GOES HERE -->
        <div id="content">
            <% include partials/content/stockGraph.ejs%>
        </div>

        <!--Footer goes here-->
        <div id="footer">

            <% include partials/template/footer.ejs %>
        </div>
    </body>

    <!-- end.ejs goes here -->
    <% include partials/template/end.ejs %>

</html>