<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/loginsignup.css" />
    <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
    
</head>
<body>
<div class="eatTheComp">
    <p>EAT THE COMPETITION</p>
</div>
<div class="signup-container">
<h1 class="signup-title">Stock Muncher</h1>
<form action="/login" method="POST">
    <div>
        <input class="usrnme" type="text" name="username" placeholder="Username">
    </div><br>
    <div>
        
        <input class="pswrd" type="password" name="password" placeholder="Enter Password">
    </div><br>
    <div>
      <button class='submit' type="submit">Log In</button>
    </div>
    <a class ='login' href="/signup">Don't have an account? Sign up here</a>


</form>
</div>
    <!-- <script src="../"> type='text/javascript' </script> -->
</body>
</html>