<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/loginsignup.css" />
    <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
    
</head>
<body>
    <div class="eatTheComp">
        <p class="eatTheComp">EAT THE COMPETITION</p>
    </div>
    <div class="signup-container">
    <h1 class="signup-title">Stock Muncher</h1>
    <form action="/signup" method="POST">
        <div>
            <input class="usrnme" type="text" name="username" placeholder="Username">
        </div><br>
        <div>
            
            <input class="pswrd" type="password" name="password" placeholder="Password">
        </div><br>
        <div>
                
                <input class="e-mail" type="email" name="email" placeholder="Enter valid E-mail">
            </div>
        <div>
          <button class='submit' type="submit">Sign up</button>
        </div>
        <a class ='login' href="./login">Already have an account? Login here</a>


    </form>
    </div>
    <script src="../javascript/signup.js"> text='text/javascript' </script>
</body>
</html>