<!DOCTYPE html>
<html lang="en">
    <style>
            #res {
                margin: 0px;
                padding-left: 0px;
                width: 150px;
            }
            
            #res li {
                list-style-type: none;
            }
            
            #res li:hover {
                background: #110D3B;
                color: #FFF;
                cursor: pointer;
            }

            @media screen and (width: 1080px) {
                div#chart_div {
                    zoom:1.5;

                }
            }
        </style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link rel="stylesheet" href="css/style.css" type="text/css"/>


        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        

        <!--Google Charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript" src="scripts/graph.js">
        </script>


        <title></title>
    </head>
    
    <body class="container-fluid">
        <h1>Stock Purchase Page</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Search Stocks
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Stock Search</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="stockSymbol">
                        <b></b><input list="stockSymbolList" id="stockSymbol" type="text" name="stock_symbol" placeholder="Stock Symbol" autocomplete="off"><button class="btn btn-secondary" id="stockPriceUpdate">Refresh Stock Price</button>
                    </div>
                    <datalist id="stockSymbolList">
                    
                    </datalist>    
                </div>
              </div>
            </div>
          </div>
        
        
        <br>

        <!-- <form action="/stocks" method="POST" autocomplete="off">
            <h2>Stock Symbol</h2>
            <h4 id="stockSymbolText"><%= stocks.symbol  %></h4>
            <h2>Estimated Price</h2>
            <p id="price"><%= stocks.stockPrice %></p>
            
            <p id="currentDate"></p>
            <br>
            <input type="submit" value="Buy Stock" />
        </form>
        
        
        <h1>Sector Prices</h1>
        <button id="sectorPriceUpdate">Update</button>
        <table id="sectorTable">
            <tr>
                <th>Sector Name</th>
                <th>Real Time</th>
                <th>1 Day</th>
                <th>5 Day</th>
                <th>1 Month</th>
                <th>3 Month</th>
                <th>YTD</th>
                <th>1 Year</th>
                <th>3 Year</th>
                <th>5 Year</th>
                <th>10 Year</th>
            </tr>
            
        </table> -->
        
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="scripts/stocks.js" type="text/javascript"></script>
    

</html>
