<!DOCTYPE html>
<html lang="en">
    <style>
            #res {
                margin: 0px;
                padding-left: 0px;
                width: 150px;
            }
            
            #res li {
                list-style-type: none;
            }
            
            #res li:hover {
                background: #110D3B;
                color: #FFF;
                cursor: pointer;
            }
        </style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/css/style.css"/>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <title></title>
    </head>
    
    <body>
        <h1>Stock Purchase Page</h1>
        
        <button id="stockPriceUpdate">Refresh Stock Price</button>
        
        <br>
        <form action="/stocks" method="POST">
            <b>Stock Symbol: </b><input list="stockSymbolList" id="stockSymbol" type="text" name="stock_symbol">
            <datalist id="stockSymbolList">

            </datalist>    
            
            <h2>Stock Symbol</h2>
            <h4 id="stockSymbolText"></h4>
            <h2>Estimated Price</h2>
            <p id="price"></p>
            
            <p id="currentDate"></p>
            <br>
            <input type="submit" value="Buy Stock" />
        </form>
        
        
        <h1>Sector Prices</h1>
        <button id="sectorPriceUpdate">Update</button>
        <table id="sectorTable">
            <tr>
                <th>Sector Name</th>
                <th>Real Time</th>
                <th>1 Day</th>
                <th>5 Day</th>
                <th>1 Month</th>
                <th>3 Month</th>
                <th>YTD</th>
                <th>1 Year</th>
                <th>3 Year</th>
                <th>5 Year</th>
                <th>10 Year</th>
            </tr>
            
        </table>
        
        
    </body>

    <script src="../routes/stocks.js"></script>


</html>